@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */

/* 리셋, 코아, 커먼 공통 외부css 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
@import url(./grid_12_float.css);/* 그리드12 불러오기 */


/* 공사중 표시 */
body * {
    outline: 2px dashed #ccc;
}
/* 1.상단영역(메 */
top-area{
height: 100px;
}
/* 2.배너 섹션  */
ban-sect{
height: 100px;
}
/* 3.비쥬얼 섹션 */
visual-sect{
height: 100px;
}
/* 4.프로섹션 섹션 */
pro-sect{
height: 100px;
}
/* 5.저니 섹션  */
journey-sect{
height: 100px;
}
/* 6.스페셜섹션  */
special-sect{
height: 100px;
}
/* 7.무브텍스트섹션  */
movetext-sect{
height: 100px;
}
/* 8.파트너 섹션 */
partner-sect{
height: 100px;
}
/* 9.뉴스 섹션  */
news-sect{
height: 100px;
}
/* 10.쇼룸섹션  */
showroom-sect{
height: 100px;
}
/* 11.footer 섹션 */
footer-sect{
height: 100px;
}
