@charset "utf-8";

/* body {
    background-color: rgb(255, 255, 255);
} */
/* 글자스테이지 */

.jtxt {
    display: flex;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 12em;
    white-space: nowrap;
    letter-spacing: 1px;
    z-index: 1;
  }

/* 글자개별박스 셋팅 */
.jtxt span {
    /* 트랜스폼 적용위해 */
    display: block;
}


.jtxt-style span{
    /* transform: rotateX(90deg); */
    transform-origin: bottom;
    /* 투명도 0 */
    opacity: 0;    
    /* 트랜지션: 속시이지 */
    transition: 0.3s ease-in;
}
/* 등장클래스 .on */
.jtxt-style.on span{
    transform: rotateX(0deg);
    /* 투명도 0 */
    opacity: 1;    
}
