@charset "utf-8";

/* body {
    background-color: rgb(255, 255, 255);
} */
/* 글자스테이지 */

.jtxt {
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 10rem;
    white-space: nowrap;
    letter-spacing: 1px;
  }

/* 글자개별박스 셋팅 */
.jtxt span {
    /* 트랜스폼 적용위해 */
    display: block;
}


/* 글자등장 스타일3 */
.jtxt-style{
    /* 원근설정 */
    perspective: 100vh;
}
.jtxt-style span{
    transform: rotateX(90deg);
    transform-origin: bottom;
    /* 투명도 0 */
    opacity: 0;    
    /* 트랜지션: 속시이지 */
    transition: 0.3s ease-in;
}
/* 등장클래스 .on */
.jtxt-style.on span{
    transform: rotateX(0deg);
    /* 투명도 0 */
    opacity: 1;    
}
