/* 공통 CSS - core.scss */

@font-face {
    src: url(../../static/fonts/HelveticaNeueLTPro-Bd.otf);
    font-family: "HelveticaBd";
}
@font-face {
    src: url(../../static/fonts/HelveticaNeueLTPro-Roman.otf);
    font-family: "HelveticaRoman";
}
@font-face {
    src: url(../../static/fonts/HelveticaNeueLTPro-Lt.otf);
    font-family: "HelveticaLt";
}


@font-face {
    src: url(../../static/fonts/CROOKED.otf);
    font-family: "Crooked";
}
@font-face {
    src: url(../../static/fonts/TTOctosquaresTrialRegular.ttf);
    font-family: "TTOctosquares";
}
@font-face {
    src: url(../../static/fonts/TTOctosquaresTrialCondensedLight.ttf);
    font-family: "TTOctosquarescondensedlight";
}