/* 공통 CSS - core.scss */

@font-face {
    src: url(../../static/fonts/HelveticaNeueLTPro-Bd.otf);
    font-family: "HelveticaBd";
}
@font-face {
    src: url(../../static/fonts/HelveticaNeueLTPro-Roman.otf);
    font-family: "HelveticaRoman";
}


