.addadd{
display: flex;
flex-direction: column;


.addadd-txt{
    font-size: 18px;
}

    .addadd-txt2{
        font-size: 13px;
        background-color: #f7f7f7;
        padding: 16px 20px;
        }
    }


    
.login-left>.info_body {
        padding:0  !important;
    }


    .addaddr-save-button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -1px;
        position: relative;
        outline: none;
        border: 1px solid black;
        background-color: #fff;
        color: black;
        width: 350px;
        margin-left:15px ;
        height: 32px;
        cursor: pointer;
        font-family: "HelveticaLt";
        font-size: 1.2rem;
    }
    
    
    
    /* 미디어 쿼리 777 일때 */
    
    @media screen and (max-width: 777px) {
        
        }  
