.addadd{
display: flex;
flex-direction: column;


.addadd-txt{
    font-size: 18px;
}

    .addadd-txt2{
        font-size: 13px;
        background-color: #f7f7f7;
        padding: 16px 20px;
        }
    }


    
.login-left>.info_body {
        padding:0  !important;
    }



    
    
    
    /* 미디어 쿼리 777 일때 */
    
    @media screen and (max-width: 777px) {
        
        }  
