.addadd{
display: flex;
flex-direction: column;


.addadd-txt{
    font-size: 18px;
}

    .addadd-txt2{
        font-size: 13px;
        background-color: #f7f7f7;
        padding: 16px 20px;
        }
    }

