.banner {
    display: flex;
    flex-direction: column; /* 플렉스 방향: 세로방향  */
    justify-content: center; 
    align-items: center; /* 세로정렬:중앙 */
    padding: 5vw;
    
    
    .top-images, .bottom-images {
      display: flex;
      justify-content: center; 
      gap: 2vw; /* 이미지 사이 간격 */
      
  
      div {
          
          flex:1;/* 이미지 너비 같게 */
          
          img {
          width: 100%;
          height: 100%;
          
        }
  
        p {
        
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1.2rem;
        }
      }
    }
    .bottom-images{
        padding-top: 7vh;
    }
  }