.cartlist-box * {
  // border: red 2px dashed;
}
///전체박스
.cartlist-box {
  ///배경///////////////////////////////////
  .cartlist-bg {
    z-index: 999;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    background-color: hsla(0, 0%, 99%, 0.788);
    display: none; //<CartList/>불러올때 초깃값
    position: fixed;
    top: 0;
    left: 0;
  }

  //오른쪽 박스/////////////////////////////////////////////////
  .addedcart-box {
    box-sizing: border-box;
    position: fixed;
    z-index: 999;
    top: 0;
    right: -100%; //<CartList/>불러올때 초깃값
    overflow-y: auto;
    overflow-x: hidden;

    //닫기버튼////////////////////////
    .cbtn {
      outline: 0;
      border: 0;
      width: 32px;
      height: 32px;
      float: right;

      margin-top: 10px;
      margin-right: 10px;
            color: #010101;
            cursor: pointer;
      background-color: #fdfdfd;
      font-family: sans-serif;
      >img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    border-left: 1px solid black;
    width: 34%;
    height: 100%;
    float: right;
    background-color: #fdfdfd;

    .itembox-wrap {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      margin-top:45px;
     
     
      width: max(225px, 87%);;
      .addmsg {
        font-family: "HelveticaLt";
        font-size: 1.5rem;
        margin-bottom: 12px;
      }
      .item-box {
       
        position: relative;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        // box-sizing: border-box;
        // overflow: hidden;
        width: 100%;
        height: 300px;
        display: flex;
        .item-img {
          overflow: hidden;
          box-sizing: border-box;
          position: relative;
          z-index: 1;
          border-right: 1px solid black;
          border-left: 1px solid black;
          
          
          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
           
         
          }
        }
        .item-txt {
          padding: 10px;
          flex-grow: 1; /* 남은 공간 차지 */
          height: 100%;
          margin-bottom: 5px;

        }
      }
      >a{
        width: 100%;
        margin-top: 30px;
        .look-my-cart {
          background-color: #fdfdfd;
          cursor: pointer;
          width: 100%; //.item-box의 width만큼 설정해야함.
          border: 1px solid black;
         color: #000;
          height: 40px;
        }
      }
    }


  }
}

/* 미디어 쿼리 1050 일때 */

@media screen and (max-width: 1050px) {
  .cartlist-box .addedcart-box {
    width: 100%;
  }
  .cartlist-box .cartlist-bg {
    display: none;
  }
}
