.cartlist-box * {
  // border: red 2px dashed;
}
///전체박스
.cartlist-box {
    ///배경///////////////////////////////////
    .cartlist-bg {
    z-index: 999;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    background-color: hsla(0, 0%, 99%, 0.788);
display: none;//<CartList/>불러올때 초깃값
    position: fixed;
    top: 0;
    left: 0;
  }

  //오른쪽 박스/////////////////////////////////////////////////
  .addedcart-box {
    box-sizing: border-box;
    position: fixed;
    z-index: 999;
    top: 0;
    right: -100%;//<CartList/>불러올때 초깃값
    overflow-y: auto;
    //닫기버튼////////////////////////
    .cbtn {
      float: right;
      margin-right: 10px;
      font-size: 30px;
      color: #010101;
      transform: scaleX(1.5);
      cursor: pointer;
      background-color: #fdfdfd;
      font-family: sans-serif;
    }

    border-left: 1px solid black;
    width: 34%;
    height: 100%;
    float: right;
    background-color: #fdfdfd;

    .item-box {
      border: 1px solid black;
      margin: 72px auto 0 auto;
      width: max(225px, 87%);
      height: 300px;
      display: flex;
      .item-img {
        border-right: 1px solid black;
        aspect-ratio:  2/3;
        
        >img{
          width: 100%;
          height: 100%;
        }
      }
      .item-txt {
        flex-grow: 1; /* 남은 공간 차지 */
        height: 100%;
      }
    }
    .look-my-cart {
      background-color: #fdfdfd;
      cursor: pointer;
      width: max(225px, 87%); //.item-box의 width만큼 설정해야함.
      border: 1px solid black;
      margin: 30px auto 0 auto;
      display: block;
      height: 40px;
    }
    .recommend-txt {
      margin-right: auto;
      font-size: 15px;
      font-family: "HelveticaLt";
      margin-right: 46px;
      margin-top: 30px;
      text-align: right;
    }
    .yu-gi-e-recommendcomp {
      font-size: 40px;
    }
  }
}






/* 미디어 쿼리 1050 일때 */

@media screen and (max-width: 1050px) {
  .cartlist-box .addedcart-box {
    width: 100%;
  }
  .cartlist-box .cartlist-bg{
    display: none;
  }
 
}
