.check-out-item-box{
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
    align-items: center;
  //왼쪽 배송, 결제부분////////////////////////////////////////////////////////////////////////////
  .check-out-box {
    width: 393px;
    // padding-left: 5vw;
    //물품을 배송받을 장소부분///////////////////////////////////////////////
    .where-delivery {
      width: 100%;
      height: auto;
      box-sizing: border-box;
      // border: 1px solid black;
      .get-hz-wrap {
        display: flex;
        .gethome,
        .getzara {
          width: 50%;
          height: 84px;
          border: 1px solid black;
          box-sizing: border-box;
          font-size: 10px;
  
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .getzara {
          border-left: none;
        }
      }
  
      .getaddress {
        padding: 20px;
        border: 1px solid black;
        border-top: none;
        box-sizing: border-box;
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        // height: 77px;
        width: 100%;
        >p{
          padding-bottom: 5px;
        }
        > span {
          cursor: pointer;
          text-decoration: underline;
        }
  
        .reuse-box {
          display:flex;
          justify-content: space-between;
          >label{
            cursor: pointer;
            width: 85%;
          }
        }
      }
    }
  
    //결제 선택부분////////////////////////////////
    .payment-outbox {
      width: 100%;
      height: auto;
      box-sizing: border-box;
      border: 1px solid black;
      
      .payment {
        display: flex;
        .payment-imgbox {
          cursor: pointer;
          padding: 30px;
          border-right: 1px solid black;
          border-bottom: 1px solid black;
          box-sizing: border-box;
          flex: 1;
          &.on{
            box-shadow: inset 0 0 0 .5px #000;
            
          }
          &:last-child {
            border-bottom: 1px solid black;
            border-right: none;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .payment-txtbox {
        padding: 20px;
      }
    }
  }

  /////////////오른쪽 상품 나열 부분///////////////////////////////////////////////////////////////////
  .check-out-box2{
    width: 480px;
    .check-out-item{
      overflow: hidden;
      width: 100%;
      height: auto;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      box-sizing: border-box;
      .check-out-item-txt{
        padding: 20px;
        >p{
         
        }
      }
  
  
    }
  }

}


.buybar2 {
  width: 100%;
  height: 76.67px;
  position: fixed;
  bottom: -77.67px;
  background-color: #fdfdfd;
  border-top: 1px solid black;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 0.2fr auto; //첫번쨰열 두번쨰열 세번째열;
  // grid-template-rows: auto 1fr;
  font-size: 13px;
  animation: buybaropen 0.7s ease forwards;
  @keyframes buybaropen {
    to {
      bottom: -1px;
    }
  }

  .buytxt {
    font-size: 11px;
    // padding-left: 20px;
    align-self: center;
    justify-self: start;
    font-family: Arial, Helvetica, sans-serif;
    left: 0;
    > span {
      margin-right: 0;
    }
  }
  > span:nth-child(2) {
    > p:nth-child(1) {
      font-weight: bolder;
    }
  }
  > span {
    padding-right: 50px;

    align-self: center;
    justify-self: flex-end;
    font-family: Arial, Helvetica, sans-serif;

    > b {
      font-size: 11px;
      .totals {
      }
    }
    > p {
      font-size: 11px;
      text-align: right;
    }
  }
  .buybutton {
    height: 100%;
    width: 160px;
    font-size: 15px;
    border: 0;
    background-color: #030303;
    color: #fdfdfd;
    cursor: pointer;
  }
}

/* 1050 이하 일떄 */
@media screen and (max-width: 1050px) {
  .check-out-item-box{
    flex-direction: column-reverse;
    .check-out-box {
      width: 80%;

  }
    .check-out-box2{
      width: 80%;
    }
 
}


}
/* 900 이하 일떄 */
@media screen and (max-width: 900px) {
  .buybar2 {
    height: 56px;
    // grid-template-columns: 1fr 1fr;
    display: flex;

    .buytxt {
      flex: 0.7;
      padding-left: 0;
      text-align: center;
    }
    > span:nth-child(1) {
      padding-right: 0px;
    }
    > span:nth-child(2) {
      padding-right: 20px;
      flex: 0.3;
    }
    > span:nth-child(3) {
      padding-right: 0px;

      text-align: right;
    }
    .buybutton {
      // width: 100%;
      justify-self: flex-end;
      flex: 1;
    }
  }
}
/* 777 이하 일떄 */
@media screen and (max-width: 777px) {
  .check-out-item-box{
    
    .check-out-box {
      width: 100%;
     .payment-outbox {
      border-left: none;
     }
      .where-delivery {

        .getaddress,.get-hz-wrap .gethome {
          
          border-left: none;
        }
      }

    }
    .check-out-box2{
      width: 100%;
      .check-out-item{
        border-left: none;
      }
    }
    
  }

  
  .buybar2 {
    height: 56px;
    // grid-template-columns: 1fr 1fr;
    > span {
      display: flex;
      flex-direction: column;
      align-self: center;
    }
    > span:nth-child(2) {
      padding-right: 0px;
      align-items: start;
      flex: 0.45;
    }
    .buytxt {
      flex: 0.55;
      
      // display: none;
    }
    .buybutton {
      width: 100%;
    }
  }
}

/* 400 이하 일떄 */
@media screen and (max-width: 400px) {
  .buybar2 .buybutton {
    flex:0.5;
  }
}