.popup {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 20px;
background: #fff;
border: 1px solid #000;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.527);
z-index: 9999;
width: max(430px,30%);
height: auto;
font-family: "HelveticaLt";


  >button{
    border: 1px solid black;
    border-radius: 0;
    background-color: #fff;
    position: absolute;
    bottom: 12.5px;
    right: 20px;
    height: 22px;
    width: 41px;
    color: black;
    white-space: nowrap;
  }
}
.cookie-bgc{
  width: 100vw;
  height: 100dvh;
  background-color: #ffffff;
  position: absolute;
  z-index: 9995;
  opacity: 0;
  animation: cookiebgcani 3s forwards;
  @keyframes cookiebgcani {
   to{
     opacity: .7;

   }
  }
}



@media screen and (max-width: 487px) {
.popup {
    width: 90% ;
    padding: 10px 10px 20px 10px;
    >button{
      right:10px;
    }
    }
}

@media screen and (max-width: 435px) {
.popup {
    
      
    }
}
