// 가장 바깥 박스////////////////////////////////////
.detailbox {
  display: flex;
  align-items: flex-end;
  width: 75%;
  margin: 0 auto;
  justify-content: space-around;

  //가장 왼쪽 박스///////////////////////////////////////////////////////////
  .care-box-wrap {
    position: relative;
    width: 350px;
    height: 100%;

    .care-box {
      padding: 30px;
      line-height: 1.5;

      overflow: hidden;

      height: 250px;
      border: 1px solid black;
      transition: 0.3s ease;
      // transform-origin: bottom;

      &.on {
        // transform: scaleY(1.5);
        height: 400px;
        overflow-y: auto;
      }

      > p {
        margin-bottom: 20px;
      }

      // .morebt {
      //   position: absolute;
      //   bottom: 0;
      // }
    }
  }

  /////중앙 박스//////////////////////////////////////////////////////////////////////////////////////
  .detail-img {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 350px;
    height: 500px;
    // border: blue dashed 2px;
  }

  // // 가장 오른쪽 디테일 부분/////////////////////////////////////////////////////////////////
  .detail-txtbox {
    bottom: 50px;
    position: relative;

    line-height: 1.5;
    display: flex;
    flex-direction: column;
    width: 275px;
    //윗박스///////////////////
    .dttxt-bx {
      font-size: 1rem;
      font-family: Arial, Helvetica, sans-serif;
      padding: 24px 20px;

      border: 1px solid black;

      .tit {
      }
      .price {
        display: flex;
        gap: 5px;
        span {
          padding-left: 3px;
        }
        span:nth-child(2) {
          background-color: black;
          color: white;
        }
      }
    }
    .desc {
      margin-top: 10px;
      font-size: 1.1rem;
    }
    .info {
      margin-top: 20px;
      font-size: 0.85rem;
      li {
        margin-top: 10px;
        cursor: pointer;
      }
    }
  }
  //아래박스////////////////
  .dtsize-bx {
    position: relative;
    padding: 24px 20px;
    border: 1px solid black;
    margin-top: -1px;
    .color {
    }
    .size {
      display: grid; /* 그리드 레이아웃 사용 */
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      padding-top: 25px;
      > button {
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid black;
        background-color: #fdfdfd;
        padding: 4px 8px;
        height: 24px;
        transition: 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: rgb(230, 230, 230);
        }

        &.on {
          background-color: #010101;
          color: #fdfdfd;
        }
      }
    }
  }
}
.addbutton {
  border: 1px solid black;
  background-color: #fdfdfd;
  margin-top: -1px;
  padding: 4px 6px;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;

  &:hover {
    color: #898989;
  }
}

/* 1450 이하 일떄 */
@media screen and (max-width: 1450px) {
  .detailbox {
    width: 95%;
  }
}

/* 1050 이하 일떄 */
@media screen and (max-width: 1050px) {
  .detailbox .care-box-wrap {
    display: none;
  }
}
/* 777 이하 일떄 */
@media screen and (max-width: 777px) {
  .detailbox {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    .detail-txtbox {
      z-index: 1;
      background: #fdfdfd;
      width: 100vw;
      position: fixed;
      bottom: 0;
.dttxt-bx {
  border: none;
  border-top: 1px solid black;
}
    }
    .dtsize-bx {
      border: none;
    }
  }
  /* 스와이퍼 큰 이미지 */
  .detailbox .detail-img {
    width: 100dvw;
    height: 100dvh;
  }
  /* 스와이퍼 이미지 작은이미지들 */
  .detail-img .mySwiper {
    display: none;
  }
}
