.detailpgmargintop{
  margin-top: 130px;
}
.hidden-txt-box{
  display: none;
}

// 가장 바깥 박스////////////////////////////////////
.detailbox {
  display: flex;
  align-items: flex-end;
  width: 75%;
  margin: 0 auto;
  justify-content: space-around;

  //가장 왼쪽 박스///////////////////////////////////////////////////////////
  .care-box-wrap {
    position: relative;
    width: 350px;
    height: 100%;

    .care-box {
      padding: 30px;
      line-height: 1.5;

      overflow: hidden;

      height: 250px;
      border: 1px solid black;
      transition: 0.3s ease;
      // transform-origin: bottom;
      div>{
        top: 0;
      }
      &.on {
        // transform: scaleY(1.5);
        height: 400px;
        overflow-y: auto;
      }

      > p {
        margin-bottom: 20px;
      }

      .morebt {
      border: none;
      text-decoration: underline;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      padding-top: 5px;
      // padding-right: 200px;
      cursor: pointer;
      padding-left: 0;
      padding-right: 0;
      
      
      }
    }
  }

  /////중앙 박스//////////////////////////////////////////////////////////////////////////////////////
  .detail-img {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 350px;
    height: 500px;
    // border: blue dashed 2px;
  }

  // // 가장 오른쪽 디테일 부분/////////////////////////////////////////////////////////////////
  .detail-txtbox {
    border: 1px solid black;
    bottom: 50px;
    position: relative;

    line-height: 1.5;
    display: flex;
    flex-direction: column;
    width: 275px;
    //윗박스///////////////////
    .dttxt-bx {
      font-size: 1rem;
      font-family: Arial, Helvetica, sans-serif;
      padding: 24px 20px;
      .heartbutton{
        cursor: pointer;
        float: right;
      }
      

      .tit {
      }
      .price {
        display: flex;
        gap: 5px;
        span {
          padding-left: 3px;
        }
        span:nth-child(2) {
          background-color: black;
          color: white;
        }
      }
    }
    .desc {
      margin-top: 10px;
      font-size: 1.1rem;
    }
    .info {
      margin-top: 20px;
      font-size: 0.85rem;
      li {
        margin-top: 10px;
        cursor: pointer;
      }
    }
  }
  //아래박스////////////////
  .dtsize-bx {
    position: relative;
    padding: 24px 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: -1px;
    .color {
    }
    .size {
      display: grid; /* 그리드 레이아웃 사용 */
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      padding-top: 25px;
      > button {
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        border: 1px solid black;
        background-color: #fdfdfd;
        padding: 4px 8px;
        height: 24px;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        color: #010101;

        &:hover {
          background-color: rgb(230, 230, 230);
        }

        &.on {
          background-color: #010101;
          color: #fdfdfd;
        }
      }
    }
  }
}
.addbutton {
  border: none;
  background-color: #fdfdfd;
  margin-top: -1px;
  padding: 4px 6px;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #010101;
  &:hover {
    color: #898989;
  }
}

/* 1450 이하 일떄 */
@media screen and (max-width: 1450px) {
  .detailbox {
    width: 95%;
  }
}

/* 1050 이하 일떄 */
@media screen and (max-width: 1050px) {
  .detailbox .care-box-wrap {
    display: none;
  }
}
/* 777 이하 일떄 */
@media screen and (max-width: 777px) {
  .hidden-txt-box{
    padding: 8px 24px;
    display: block;
    order: 4;
    >p{
      margin-bottom: 3px;
    }
  }
  .addbutton{
    width: 70%;
    border: 1px solid black;
    margin-left: 24px;
    height: 30px;
  }
  .detailpg-recomend-wrap{display: none;}
  .detailbox {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    .detail-txtbox {
      z-index: 1;
      background: #fdfdfd;
      position: fixed;
      // bottom: -25dvh;
      width: 100vw;
      justify-content: flex-end;
      border: none;
      border-top:1px solid black;
      // height: 100vh;

      // height: 100dvh;
      // bottom: -95%;
      

      //임시로 하는 미디어쿼리시 스와이프로 결제창올리기
      transition: bottom 0.3s ease-out;
      &.on{
        bottom: 0;
      }
        //임시로 하는 미디어쿼리시 스와이프로 결제창올리기  

      .dttxt-bx {
        padding: 10px 24px;
        border: none;
        >.heartbutton{
          border: 1px solid black;
          width: 47px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          right: 0px;
          top: 39px;
          box-sizing: border-box;
          
        }
        >.desc{
          display: none;

        }
        >.info{
          display: none;
        }
      }
    }
    .dtsize-bx {
      border: none;
      order: 3;
      padding: 7px 24px;
      >.color{
        display: none;
      };
      .size {
        >button {
          // height: 50px;
  
      }
      }
    }
  }
  /* 스와이퍼 큰 이미지 */
  .detailbox .detail-img {
    top: 0;
    width: 100dvw;
    height: 100dvh;
  }
  /* 스와이퍼 이미지 작은이미지들 */
  .detail-img .mySwiper {
    display: none;
  }
}




/* 600 이하 일떄 */
@media screen and (max-width: 600px) {
  .detailpgmargintop{
    margin-top: 0;
  }
}