.join-member{
  width: 350px;
  min-height: 300px;
  padding: 15px;
 
 
 
 
  li{
      position: relative;
      padding-top: 40px;
    }
  



}





    /* 미디어 쿼리 500이하일때 */
@media screen and (max-width: 500px) {
  .join-member{
  width: 80dvw;
 }

}