.loginput{
    font-size: 1.1rem;
    background: none;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 1.5px;
    outline: none;
    padding: 1px;
    text-transform: none;
    width: 100%;


}
.user-id{
position: absolute;
top: 0;
left: 0;
font-size: 1rem;
transition: all 0.3s ease;
pointer-events: none;
transform: translateY(0px);
color: #969696;
}
.membx{


    label {
    position: absolute;
    bottom: 5px;
    left: 0;
    font-size: 1rem;
    transition: all 0.3s ease;
    pointer-events: none;
    transform: translateY(0px);
    color: #969696;
    white-space: nowrap;
    margin-left: 5%;
    font-size: 1.2rem;
    font-family: "HelveticaRoman";
    
  }

.loginput:not(:placeholder-shown) + label,//인접연산자 사용주의
          .loginput:focus + label {
    font-size: 1rem;
    transform: translateY(-18px);
    color: #969696;
  }

  .loginput:focus {
    border-bottom: 1.5px solid #000;
  }

}
