.outbx {
  padding: 100px 0 0 100px;
  display: flex;


  //붉은 메시지 공통/////////////////////////////////////////
  .msg{
    position: absolute;
    >small{
      color: red;
      font-size: 9px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }


  //로그인 타이틀 공통 /////////////////////////////고객님의 계정에 엑세스 하세요,고객님의 계정에 엑세스 하세요
   .logtit {
    display: block;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-bottom: 25px;
    } 
  //로그인 페이지 버튼 공통//////////////////////////////////
    .sbtn {
        font-size: 1.1rem;
        color: #000000;
        border: 1px solid #000000;
        background-color: #ffff;
        margin: 0 auto;
        cursor: pointer;
        transition: 0.3s;
        max-height: 40px;
        min-height: 32px;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        &:hover {
          background-color: #010101;
          color: #fdfdfd;
        }
      }
  /* 왼쪽 박스******************************************************************************** */
  .login-left {
    width: 350px;
    min-height: 350px;
    padding: 15px;
    // border: 2px dashed #ff0000;

 

    li {
      &:first-child{
        padding-top: 20px;
      }
      position: relative;
      padding-top: 50px;

    }
  }

  .loginput {
    font-size: 1.1rem;
    background: none;
    border: none;
    border-bottom: 1.5px solid #969696;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 1.5px;
    outline: none;
    padding: 1px;
    text-transform: none;
    width: 100%;
    font-family: "HelveticaLt";
  }
  .user-id {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    transition: all 0.3s ease;
    pointer-events: none;
    transform: translateY(0px);
    color: #969696;
  }

  input {
    font-size: 1.3rem;
    vertical-align: baseline;
  }

  label {
    position: absolute;
    bottom: 5px;
    left: 0;
    
    transition: all 0.3s ease;
    pointer-events: none;
    transform: translateY(0px);
    color: #969696;
    white-space: nowrap;

    font-size: 1.1rem;
    font-family: "HelveticaLt";
    font-weight: lighter;
  }

  .loginput:not(:placeholder-shown) + label,//인접연산자 사용주의
          .loginput:focus + label {
    font-size: 1rem;
    transform: translateY(-13px);
    color: #969696;
  }

  .loginput:focus {
    border-bottom: 1.5px solid #000;
  }

  /* 오른쪽 박스******************************************************************************** */
  .login-right {
    width: 350px;
    min-height: 300px;
    padding: 15px;
    margin-left: 100px;
    // border: 2px dashed #0055ff;
  }
}






/* 미디어 쿼리 1050이하일때 */
@media screen and (max-width: 1050px) {
  .outbx {
    padding: 70px 0 0 50px;
    display: flex;

   .login-right {
     
      margin-left: 50px;
  }
  }

}

/* 미디어 쿼리 777이하일때 */
@media screen and (max-width: 777px) {
  .outbx {
    padding: 70px 0 0 0;
    display: flex;
    flex-direction: column;
        align-items: center;
        
        .login-right {
          
          min-height: 100px;
      margin-left: 0px;
  }
  }

}
/* 미디어 쿼리 415이하일때 */
@media screen and (max-width: 415px) {
  .outbx {
    padding: 70px 0 0 0;
    display: flex;
    flex-direction: column;
        align-items: center;

   .login-right, .login-left {
     
    width: 80dvw;
  }
  }

}
