
//바스켓백 버튼
.mycart-button {
  margin-bottom: 1px;
  position: relative;
  outline: none;
  box-shadow: 0 0 0 1px #000000; /* 테두리 효과 설정 */
  border: none;
  background-color: #fff;
  color: black;
  width: 25vw;
  height: 32px;
  cursor: pointer;
  font-family: "HelveticaLt";
  font-size: 1.1rem;
}
//마음에드는제품 버튼
.favorite-button {
  margin-bottom: 1px;
  position: relative;
  outline: none;
  box-shadow: 0 0 0 1px #000000; /* 테두리 효과 설정 */
  border: none;
  background-color: #fff;
  color: black;
  width: 25vw;
  height: 32px;
  cursor: pointer;
  font-family: "HelveticaLt";
  font-size: 1.1rem;
}

.mycart-txt {
  background-color: #eeeeee;
  font-family: "HelveticaLt";
  font-size: 1.1rem;
  padding: 12px 16px;
  outline: 1px solid black;
  margin-bottom: 1px;
}

.mycart-box {
  .product-list5 {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr)); /* 5개의 열을 생성 */
    font-family: Arial, Helvetica, sans-serif;
    width: 100%; /* 가로 방향으로 가득 채우기 */
    padding: 0; /* 컨테이너의 패딩 제거 */
    margin: 0; /* 컨테이너의 마진 제거 */
    box-sizing: border-box;

    .product-item {
      background-color: #fdfdfd;
      outline: 1px solid #000000;
      box-sizing: border-box;
      > img {
        border-right: 1px solid black;
        height: 100%;
      }
      > a {
        width: 100%;
        text-decoration: none;
        color: #010101;
        display: block;
        height: auto;
      }
      .txt-box {
        .del-button {
          float: right;
          width: 24px;
          height: 24px;
          cursor: pointer;
          appearance: none;
          background: none;
          border: none;
          border-radius: 0;
          margin: 0;
          outline: 0;
          padding: 0;
          > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .cntbox {
          width: calc(32px * 3);
          height: 32px;
          display: flex;

          > button {
            padding: 9%;
            border: 1px solid black;

            background: none;

            margin: 0;
            font: inherit;
            color: inherit;
            cursor: pointer;
            outline: inherit;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          > input {
            font-family: "HelveticaLt";
            outline: none;
            border: 1px solid black;
            border-left: none;
            border-right: none;
            border-radius: 0;
            width: 32px;
            height: 32px;
            text-align: center;

            background: transparent;
            font-size: 10px;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

///////하단에 있는 계속 버튼이있는 바///////
.buybar {
  width: 100%;
  height: 76.67px;
  position: fixed;
  bottom: 0;
  background-color: #fdfdfd;
  border-top: 1px solid black;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr .2fr auto;//첫번쨰열 두번쨰열 세번째열;
  // grid-template-rows: auto 1fr;
  font-size: 13px;

  .buytxt {
    padding-left: 20px;
      align-self: center;
      justify-self: start;
    font-family: Arial, Helvetica, sans-serif;
    left: 0;
  }
  >span{
    margin-right: 56px;
    align-self: center;
    justify-self: flex-end;
    font-family: Arial, Helvetica, sans-serif;

    >b{
      font-size: 11px;
      .totals {
    }

    }
    >p{
      font-size: 9px;
      text-align: right;
    }
  }
.buybutton {
    width: 160px;
    font-size: 15px;
    border: 0;
    background-color: #030303;
    color: #fdfdfd;
    cursor: pointer;
  }
}

////////////////////미디어 쿼리

/* 1050 이하 일떄 */
@media screen and (max-width: 1050px) {
  .mycart-box {
    .product-list5 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
/* 777 이하 일떄 */
@media screen and (max-width: 777px) {
 
  .mycart-button,
  .favorite-button {
    width: 50%;
  }
  .mycart-box {
    .product-list5 {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      .product-item {
        display: flex;
        img {
          border-bottom: none;
        }
        .txt-box {
          width: 90%;
          position: relative;
          .cntbox {
            // margin-top: 100%;
            position: absolute;
    bottom: 2.5%;
          }
        }
      }
    }
  }

  .buybar {
    height: 56px;
    grid-template-columns: 1fr 1fr;
    .buytxt  {display: none;}
    .buybutton{width: auto;}
  }
}
