.pdbutton-box {
    padding: 10px 60px 20px 60px;
    .pdbutton {
        font-family: "HelveticaLt";
        outline: none;
        background: none;
        border: 1px solid black;
        color: #010101;
        padding: 5px;
        margin-left: 7px;
        cursor: pointer;
        font-size: 1.1rem;

        // &:focus {
        //     font-weight: bold;
        // }
        &.on{
            font-weight: bold;
        }
    }
}

/* ProductList 컴포넌트 스타일 */

.product-list {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr)); /* 5개의 열을 생성 */
    font-family: Arial, Helvetica, sans-serif;
    width: 100%; /* 가로 방향으로 가득 채우기 */
    padding: 0; /* 컨테이너의 패딩 제거 */
    margin: 0; /* 컨테이너의 마진 제거 */
    box-sizing: border-box;

    .product-item {
        display: flex;
        flex-direction: column;
        background-color: #fdfdfd;
        outline: 1px solid #000000;
        box-sizing: border-box;
        > a {
            text-decoration: none;
            color: #010101;
            display: block;
           
        }
    }
}
// .product-list {
//   margin-left: 8px;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: flex-start;
//   align-items: stretch;

//   font-family: Arial, Helvetica, sans-serif;

//   .product-item {

//     flex: 1 calc(16.66%); /* 100% / 6 = 16.66%, 32px은 gap의 두 배 */
//     max-width: calc(16.66%); /* 100% / 6 = 16.66%, 32px은 gap의 두 배 */
//     box-sizing: border-box;
//     border: 1px solid #000000;
//     background-color: #fdfdfd;
//     margin-left: -1px;
//     margin-top: -1px;

//     >a{
//       text-decoration: none;
//       color: #010101;
//     }
//   }

//   // //탑쪽으로 이동하면서 op1되게
//   // .chgop{
//   //   transition: .3s ease-out;
//   // opacity: 0;
//   // transform: translateY(15px);
//   // &.on{
//   //   transform: translateY(0);
//   //   opacity: 1;
//   // }}
// }

.txt-box {
    flex: 1;
    padding: 12px 12px 32px;
    font-size: 1rem;  
    

    
    .heartbutton{
        margin-bottom: 1px;
     cursor: pointer;
     float: right;
    }
    >span{
        display: block;
    padding-bottom: 4px;
    //글자 넘치면 ...으로 바꾸기
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    }
    .price {
        display: flex;
        gap: 5px;
        p {
            padding-top: 3px;
        }
        p:nth-child(2) {
            background-color: black;
            color: white;
        }
    }
}

.product-image {
    flex: 1;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #000;
    object-fit: cover;
    // padding-bottom: 16px;
    // outline: 1px solid #000000;
}

///////////////////////////미디어 쿼리/////////////////////////////////////////////////////////////

/* 1100 이하 일떄 */
@media screen and (max-width: 1100px) {
    .price {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    // .txt-box {
    //     flex: 1;
    //     .heartbutton{
    //      cursor: pointer;
    //      float: none;
    //     }}
}

/* 777 이하 일떄 */
@media screen and (max-width: 777px) {
    .product-list {
      
            grid-template-columns: repeat(2, minmax(0, 1fr));
       
    }
}
/* 333 이하 일떄 */
@media screen and (max-width: 333px) {
    .product-list {
       
            grid-template-columns: repeat(1, minmax(0, 1fr));
    
    }
}
