/* Search 모듈용 CSS - searching.css  */
.search-module{
    
    input{
        width: 100%;
        box-sizing: border-box;
        border: 1px solid black;
        border-left:none;
        border-right: none ;
        height: 70px;
        padding-left: 50px;
        font-size: 1.5rem;
    }

    /* 솔트 박스: 신상품순, 낮은가격순 ... */
    .sortbx{
        padding-bottom: 15px;
        overflow: hidden;
        float: right;
        select{

            border: none;
        }
    }

}





