
.sticky-search-box{
    position: sticky;
    top: 80px;
    color: #010101;
    filter: invert(1);
    mix-blend-mode: difference;
    margin-top: 130px;
    margin-bottom: 30px;
.catebox {
    display: flex;
    
    margin-left: 25px;
    button {
        font-family: "HelveticaLt";
        outline: none; /* 포커스 시 외곽선 제거 */
        /* 원하는 추가 스타일 설정 */
        /* 예시: 배경색과 텍스트 색상 설정 */
        background: none;
        border: none;
        color: #010101;
        /* 예시: 패딩과 마진 설정 */
        padding: 5px;
        margin-left: 10px;
        cursor: pointer;
        font-size: 1.1rem;

        &.on {
            font-weight: bold;
        }
    }
}
.resultandsort{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 2px;
    
/* 솔트 박스: 신상품순, 낮은가격순 ... */
    .sortbx {
        
        overflow: hidden;
        // float: right;
        select {
            font-size: 1rem;
            border: none;
            outline: none;
        }
    }
    >p{font-size: 1rem;
       
    }
}
/* Search 모듈용 CSS - searching.css  */
.search-module {
    input {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid black;
        border-left: none;
        border-right: none;
        height: 60px;
        padding-left: 35px;
        font-size: 1.1rem;
      
        background-color: #ffffff9c;
    backdrop-filter: blur(2px);
        &:focus {
            outline: none;
        }
    }

    
}
}


//미디어쿼리777////////////////////////////////////////////////
@media screen and (max-width: 777px) {
    .sticky-search-box{
        margin-top: 25vw;
    
    .resultandsort{
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0px;}

    
}
}